  /* versione mobile */



@media screen and (max-width: 576px) {
    .text-center {
      text-align: center;

    }
  }



  
  

  @media screen and (max-width: 576px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
       
    }
  }

  @media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
  }


  @media screen and (max-width: 576px) {
    .steps .col {
        width: 100%;
        margin: 20px;
    }
  }

  @media screen and (max-width: 576px) {
    .lessons .text {
        text-align: left;
    }
  }

  @media screen and (max-width: 576px) {
    .lessons .title {
        text-align: left;
    }
  }







  /* versione tablet */


  @media screen and (max-width: 768px) {
    .text-center {
      text-align: center;

    }
  }

  @media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .steps {
        width: 100%;
    }
  }

  


  @media screen and (max-width: 1024px) {
    .text-center {
      text-align: center;

    }
  }

  @media screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    .steps {
        width: 100%;
    }
  }
  

 
    
  



  